/* Homepage.module.css */
/* .body{
  font-family: 'Segoe UI', sans-serif;
} */

.homepage {
  display: flex;
  flex-direction: column;
  align-items: center;  /* จัดกลางแนวนอน */
  padding: 20px;
  background-color: #f0f2f5;
  min-height: 100vh;    /* ให้เต็มความสูงหน้าจอ */
  box-sizing: border-box;
}

.title {
  font-size: 36px;
  margin: 20px 0;
  color: #222;
  text-align: center;
  font-weight: bold;
  font-family: 'Segoe UI', sans-serif;
}

.image {
  width: 10cm;  /* ปรับขนาดตามที่ต้องการ*/
  height: 10cm;   /* ปรับตามอัตราส่วนที่เหมาะสม*/
  margin-top: 20px;
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  /* box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); */
}



