.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

.modal {
  background: rgb(244, 244, 244);
  color: #000;
  padding: 25px;
  border-radius: 10px;
  width: 300px;
  height: 150px;
  text-align: center;
  box-shadow: 0 4px 10px rgba(0,0,0,0.3);
  
}

.actions {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}
.LogoutBtn{
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 15px;
}

.confirm {
  width: 50px;
  margin: 12px 15px;
  background-color: #e03c4c;
  color: rgb(0, 0, 0);
  border: 1px solid #ccc;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.confirm :hover{
    background-color: rgb(156, 0, 0);
}
.cancel {
  width: 50px;
  margin: 12px 15px;
  background-color: #c6c6c6;
  color: rgb(0, 0, 0);
  border: 1px solid #ccc;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.cancel :hover{
    background-color: #696969;
}