/* src/style/projectModal.module.css */

.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.modalContent {
  background: #fff;
  padding: 2rem;
  border-radius: 1rem;
  width: 400px;
  max-width: 90%;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.modalInput,
.modalTextarea {
  width: 100%;
  padding: 0.6rem;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
  color: #000;
  background-color: #fff;
}

.modalButtons {
    display: flex;
  flex-direction: column;
  gap: 0.8rem;
  margin-top: 1.5rem;
}

.modalClose,
.modalSave {
 width: 100%;
  height: 50px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.modalClose {
  background-color: #c6c6c6;
  color: #000;
  border: 1px solid #ccc;
}

.modalClose:hover {
  background-color: #696969;
}

.modalSave {
  background-color: #3dd47c;
  color: #000;
  border: none;
}

.modalSave:hover {
  background-color: #00a344;
}

.modalTitle {
  font-size: 1.5rem;
  font-weight: bold;
  color: #000000; 
  margin-bottom: 1rem;
  text-align: center;
}

.modalLabel {
  font-weight: 500;
  color: #000000; 
  display: block;
  margin-top: 1rem;
  
}

.modalInput{
  color: #000000;
}

.modalInput:disabled,
.modalTextarea:disabled {
  background-color: #f5f5f5;
}

.viewField {
  color: #000;
  font-size: 16px;
  margin-bottom: 8px;
}

.viewLabel {
  font-weight: bold;
  margin-right: 5px;
}

.viewValue {
  font-weight: normal;
}

.editInput {
  width: 100%;
  padding: 0.6rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #fff;
  color: #000;
  margin-bottom: 10px;
}

.editRow {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.editLabel {
  width: 130px;
  font-weight: bold;
  color: #000;
}
