.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.modalContent {
  background-color: #fff;
  border-radius: 12px;
  padding: 30px 25px;
  width: 100%;
  max-width: 500px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
  animation: slideDown 0.3s ease;
  position: relative;
}

.modalTitle {
  font-size: 22px;
  margin-bottom: 1.5rem;
  text-align: center;
  color: #000;
  font-weight: bold;
}

.editRow {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.editLabel {
  width: 130px;
  font-weight: bold;
  color: #000;
}

.editInput {
  flex: 1;
  padding: 0.6rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #fff;
  color: #000;
}

.selectWrapper {
  position: relative;
  flex: 1;
}

.selectWrapper select {
  width: 100%;
  padding-right: 2rem;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.caret {
  position: absolute;
  right: 10px;
  pointer-events: none;
  color: #000;
}

.modalButtons {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 2rem;
}

.modalSave {
  background-color: #3dd47c;
  color: #000;
  padding: 0.8rem;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.modalSave:hover {
  background-color: #00a344;
}

.modalClose {
  background-color: #c6c6c6;
  color: black;
  padding: 0.8rem;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.modalClose:hover {
  background-color: #696969;
}

.viewTask {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  font-size: 15px;
  color: #000;
  padding-left: 4px;
}

.viewField {
  color: #000;
  font-size: 16px;
  margin-bottom: 8px;
  display: flex;
}

.viewLabel {
  font-weight: bold;
  margin-right: 5px;
  min-width: 130px;
}

.viewValue {
  font-weight: normal;
}

@keyframes fadeIn {
  from {
    transform: scale(0.95);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}
